.color1 {
  color: #122807;
}
.color2 {
  color: #12565f;
}
.color3 {
  color: #e38015;
}
.color4 {
  color: #ecca51;
}
.color5 {
  color: #f6ed9e;
}
/* #e9803b;
background-color: #196665; */

main {
  color: #f1eee0;
}
.hero {
  background-color: #124645;
}
#hero-image {
  background-image: url("../public/computer.jpg");
  opacity: 0.8;
}
#btn-search {
  background-color: #e38015;
}
.form-container {
  background-color: #317776;
}
#btn-submit {
  background-color: #4a9694;
}
#btn-submit:hover {
  background-color: #4ab4b3;
}
#card-header {
  background-color: #4a9694;
}
#card-body {
  background-color: #f0f0f0;
}
/* #card-deck {
  display: none;
} */
/* .card-container {
  height: 100%;
} */
.resources {
  background-color: #e38015;
}
#report-img {
  width: 350px;
  height: 350px;
  opacity: 0.9;
}
#report-btn {
  background-color: #124645;
  color: #f1eee0;
}
.text-report {
  color: #124645;
}
.btn-floating {
  color: black;
}
.fab {
  color: #090e0d;
}
