main {
  color: #f5f3ed;
}
.hero {
  background-color: #124645;
}
#hero-image {
  background-image: url("../public/computer.jpg");
  opacity: 0.8;
}
#btn-search {
  background-color: #e38015;
}
.form-container {
  background-color: #317776;
}
#btn-submit {
  background-color: #4a9694;
}
#btn-submit:hover {
  background-color: #4ab4b3;
}
#card-header {
  background-color: #4a9694;
}
#card-body {
  background-color: #f0f0f0;
}

.resources {
  background-color: #e38015;
}
.report-title {
  color: #faf9f4;
}
#report-img {
  width: 350px;
  height: 350px;
  opacity: 0.9;
}
#report-btn {
  background-color: #286564;
  color: #f5f3ed;
}
.text-report {
  color: #124645;
}
.btn-floating {
  color: black;
}
.fab {
  color: #090e0d;
}
.fa-linkedin {
  color: #151d1c;
}
.fa-github {
  color: #151d1c;
}
